* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0c1e3;
    min-width: 100vh;
}

header, footer {
    display: flex;
    min-height: 70px;
    align-items: center;
    background-color: greenyellow;
}

header > span {
    width: 15%;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-section {
    width: 85%;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item {
    flex: 1;
    text-align: center;
    font-size: 1.1rem;
}

.nav-item > a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
}

footer > span {
    width: 100%;
    text-align: center;
}